{% load static hilight %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Conflict of Interests Database</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" media="all" />
  </head>
  <body class="coi">
    <header class="coi__header">
    </header>

  <main class="page">
    <div class="hero">
      <h1>Conflict Of Interest</h1>
      <h2>A dataset for...</h2>
    </div>

    <section class="coi__search-form">
      <form method="get" target="/">
        <input class="button" type="text" name="q" placeholder="Search for person or organization">
        <input type="submit" value="search">
      </form>
    </section>
    {% if results %}
    <section class="coi__results">
      <h3 class="coi__results__term"> Results for <span class="hilight">{{ q }} </span></h3>
      {% regroup results by author_name as author_list %}
      <ul class="coi__results__author-list">
        {% for author in author_list %}
        <li class="coi__results__author-list__item">{{ author.grouper|hilight:q|safe }}
          {% for conflict in author.list %}
          <ul class="coi__results__conflict-list">
            <li class="coi__results__conflict-list__date">{{ conflict.paper_date }}</li>
            <li class="coi__results__conflict-list__conflict">{{ conflict.conflict|hilight:q|safe }}</li>
            <li class="coi__results__conflict-list__title"><span>Paper:</span> {{ conflict.paper_title }}</li>
          </ul>
          {% endfor %}
        </li>
        {% endfor %}
      </ul>
    </section>
    {% endif %}
    </main>
  </body>
  <footer>
   <a class="footer_brand" href="https://www.correctiv.org">
      <img src="/static/img/correctiv_logo_reduced.svg" alt="Correctiv">
    </a>
    <p class="callout_claim">Wir decken Missstände auf. Wir sind unabhängig und nicht gewinnorientiert.</p>
  </footer>
</html>
