body {
  background-color: #fffff;
  font-family: arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  border: 2vw solid #f5f5f5;
}

.page{
  margin-top: 5em;
  margin-left: 5em;
}

h1{
  font-size: 50px;
  line-height: 1;
}

h2{
  font-size:30px;
  font-weight: bold;
}

h3{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: -1em;
}

a{
  font-weight: bold;
  text-decoration: none;
}

.hero{
  margin-bottom: 4em;
}

.button {
  width: 52%;
  padding: 15px 20px;
  margin: 8px -7px 0 0;
  box-sizing: border-box;
  font-size: inherit;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #FF0058;
  border: none;
  color: white;
  padding: 16px 25px;
  text-decoration: none;
  margin: 0 0 3em 0;
  cursor: pointer;
  font-size: inherit;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  border-style: solid;
  border-width: 1px;
  border-color: #FF0058;
}

input:focus{
  border-style: none;
}


button:hover {
  background-color: #0014DB; /* Green */
  border-style: solid;
  border-width: 1px;
  border-color: #0014DB;
  transition-duration: 0.6s;
}

ul{
  width: 75%;
  padding: 0 0 3em 0;
}

li{
  list-style: none;
}

.coi__results__conflict-list{
  padding: 2em;
  font-size: 20px;
  font-weight: normal;
  margin-top: 2em;
  background-color: #f5f5f5;

}

.coi__results__author-list__item{
  font-size: 25px;
  font-weight: bold;
  margin: 3em 0 0 0;

}

.coi__results__conflict-list__conflict{
  font-weight: bold;
}


.coi__results__conflict-list__title{
  padding-top: 0.8em;
}

.coi__results__conflict-list__date{
  text-transform: uppercase;
  font-weight: bold;
  color: #888;
  padding-bottom: 1.3em;
  font-size: 14px;
}

span{
  font-weight: bold;
}

footer {
  animation: colorchange 25s infinite;
  -webkit-animation: colorchange 25s infinite;
  padding: 6em 2em;
  margin: 7em 0 0 0;
  letterspacing: 0.2;
}

.callout_claim{
  font-family: Georgia, serif;
  float: right;
  font-size: 30px;
  font-style: italic;
  width: 50%;
  text-align: right;
  margin: -5em 0 4em 0;
}

.footer_brand {
  display: block;
  width: 100%;
  margin: 0 auto;
}


/* Schnickschnack */

@keyframes colorchange{
  0% {background: #E6FFAE;}
  20% {background: #BBFFAE;}
  40% {background: #AEFFEE;}
  60% {background: #AEC7FF;}
  80% {background: #BCAEFF;}
  100% {background: #E6FFAE;}
}


@-webkit-keyframes colorchange{
  0% {background: #E6FFAE;}
  20% {background: #BBFFAE;}
  40% {background: #AEFFEE;}
  60% {background: #AEC7FF;}
  80% {background: #BCAEFF;}
  100% {background: #E6FFAE;}
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
}

.hilight {
  background-color: yellow;
}



  @media screen and (max-width: 568px) {
    
    .page{
      margin: 2em;
    }

    ul {
      width: 90%;
      padding: 0 0 3em 0;
      }

.button {
  width: 68%;
  padding: 15px 16px;
  margin: 8px -7px 0 0;
  box-sizing: border-box;
  font-size: inherit;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #FF0058;
  border: none;
  color: white;
  padding: 16px 25px;
  text-decoration: none;
  margin: 0 0 3em 0;
  cursor: pointer;
  font-size: inherit;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  border-style: solid;
  border-width: 1px;
  border-color: #FF0058;
}

h3{
  font-size:28px;
  font-weight: bold;
}

.callout_claim{
  font-family: Georgia, serif;
  float: right;
  font-size: 15px;
  font-style: italic;
  width: 50%;
  text-align: right;
  margin: -5em 0 4em 0;
}

            }    